.main {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

.main-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.main-card {
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: transform .2s;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-card:hover {
    transform: scale(1.025);
}

.main-card-img {
    width: 250px;
}